server:
  port: 38889

management:
  endpoint:
    health:
      show-details: when-authorized

sensoric:
  security:
    user:
      name: sensor-user
      roles: USER
    manager:
      name: sensor-manager
      roles: ACTUATOR

spring:
  data:
    rest:
      basePath: /api
  jpa:
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
---
spring:
  profiles: local

sensoric:
  security:
    user:
      password: '{noop}sensor-user'
    manager:
      password: '{noop}sensor-manager'
