server:
  port: 38889

management:
  endpoint:
    health:
      show-details: when-authorized

sensoric:
  security:
    user:
      name: sensor-user
      password: '{noop}sensor-user'
      roles: USER
    manager:
      name: sensor-manager
      password: '{noop}sensor-manager'
      roles: ACTUATOR

spring:
  jpa:
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
